node_modules
.expo
dist
tsconfig.tsbuildinfo
frutigerchat-bacd3-firebase-adminsdk-fbsvc-acd49e4e50.json
# .env versionado de proposito (pedido do professor para testar no Expo Go e no Render)
.env.local
README_TRABALHO_REACT_NATIVE_CHAT_FIREBASE.md
README_TRABALHO_REACT_NATIVE_CHAT_FIREBASE_GRUPOS_PUSH.md

# Native folder gerada pelo prebuild (EAS roda prebuild na nuvem)
android/
ios/
